@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Delius+Unicase:wght@400;700&family=Honk&family=Jua&display=swap');
p {
    font-family: "Barrio", system-ui;
    font-size: 26px;
}
h1 {
    font-family: "Delius Unicase", cursive;
}