#p1 {
    color: green;
}
span {
    color: #F711F7;
}
#sred {
    color: red;
}
#sgold {
    color: goldenrod;
}
#sblue {
    color: blue;
}
#p2 {
    background-color: skyblue;
}
#s2 {
    background-color: yellow;
    color: black;
}