* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.single-column {
    margin: 0px auto;
    max-width: 1200px;
    width: 90vw;
}
.dessert-container {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 36px;
    background-color: #eee;
}
.imgd-content, 
.recipe-content {
    flex: 1;
}
.dessert-img, 
.carousel-img {
    width: 100%;
}
.carousel-img {
    height: 350px;
    object-fit: cover;
}
.dessert-img {
    height: 100%;
}
.text-marg {
    margin-right: 15px;
}
.carousel-container {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    justify-content: center;
}
.card1,
.card2, 
.card3 {
    flex: 1;
}
.dessert-container {
    padding: 20px;
}
.carousel-container {
    padding: 20px;
    background-color: #eee;
}
.btn {
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
}
#btn-container {
    background-color: black;
    padding: 10px 10px;
    display: inline-block;
}
.card-p {
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;
}
.dessert-container {
    align-items: center;
    height: 600px;
}
.imgd-content {
    height: 100%;
    object-fit: cover;
}
.carousel-container {
    margin-bottom: 36px;
    margin-top: 36px;
}
.sub-heading {
    text-align: center;
    font-weight: bolder;
}
