.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
}
.color {
    margin: 0px;
    padding: 24px;
}
#p1-c1 {
    background-color: #412234;
    color: white;
}
#p1-c2 {
    background-color: #6d466b;
    color: white;
}
#p1-c3 {
    background-color: #ead7d7;
}
#p2-c1 {
    background-color: #0e7c7b;
    color: white;
}
#p2-c2 {
    background-color: #d4f4dd;
}
#p2-c3 {
    background-color: #d62246;
    color: white;
}
#p3-c1 {
    background-color: #708b75;
    color: white;
}
#p3-c2 {
    background-color: #3d315b;
    color: white;
}
#p3-c3 {
    background-color: #f8f991;
}